    html, body {
        position: relative;
        height: 100vh;
        width: 100vw;
    }
    body {
        background: #eee;
        font-family: "微软雅黑",Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
        font-weight: 300;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
        background: #000;
    }
    .swiper-slide {
        font-size: 18px;
        color:#fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 40px 60px;
    }
    .parallax-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 130%;
        height: 100%;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
    }
    .swiper-slide .title-wrap {
        margin-left: -60px;
        width: 90vw;
        height: 25vw;
        padding: 1vw 5vw;
        background-color: rgba(255,0,0,0.2);
        margin-top: 20vw;
    }
    .usa .title-wrap {
        background-color: rgba(0,100,255,0.2);
    }
    .rus .title-wrap {
        background-color: rgba(255,161,70,0.2);
    }
    .swiper-slide .title {
        font-size: 41px;
        font-weight: 300;
    }
    .swiper-slide .subtitle {
        font-size: 21px;
    }
    .swiper-slide .text {
        font-size: 14px;
        max-width: 400px;
        line-height: 1.3;
    }
    .swiper-slide .pic {
        width: 100vw;
        min-height: 100vw;
        position: relative;
    }
        .swiper-slide .pic .dialog {
            background: url('../img/dialog.png') no-repeat;
            background-size: 100% 100%;
            position: absolute;
            padding: 10vw 5vw;
            width: 30vw;
            height: 20vw;
            top:20vw;
            color: #000;
            font-weight: 500;
        }
        .swiper-slide .pic img {
            position: absolute;
            left: 40vw;
            bottom: 0;
        }
        .usa .swiper-slide .pic .dialog {
            left: -5vw;
            top: 10vw;
        }
        .rus .swiper-slide .pic .dialog {
            left: -7vw;
        }
        .usa .swiper-slide .pic img {
            position: absolute;
            left: 20vw;
            bottom: 0;
        }
        .rus .swiper-slide .pic img {
            position: absolute;
            left: 30vw;
            bottom: 0;
        }
    .swiper-slide .scale {
        background: url('../img/scale-bg.png') no-repeat;
        background-size: 100% 100%;
        width: 75vw;
        height: 75vw;
        position: relative;
    }
    .usa .swiper-slide .scale {
        background: url('../img/scale-bg-blue.png') no-repeat;
        background-size: 100% 100%;
    }
    .rus .swiper-slide .scale {
        background: url('../img/scale-bg-yellow.png') no-repeat;
        background-size: 100% 100%;
    }
            .swiper-slide .scale img {
                position: absolute;
                width: 100%;
                height: 100%;
                /* older safari/Chrome browsers */  
                -webkit-opacity: 0.5;  
                /* Netscape and Older than Firefox 0.9 */  
                -moz-opacity: 0.5;  
                /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/  
                -khtml-opacity: 0.5;  
                /* IE9 + etc...modern browsers */  
                opacity: .5;  
                /* IE 4-9 */  
                filter:alpha(opacity=50);  
                /*This works in IE 8 & 9 too*/  
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";  
                /*IE4-IE9*/  
                filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);  
            }
a.btn {
/*    display: block;
    width: 100px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-color: #00a6cc;
    border-radius: 4px;*/
    position: absolute;
    bottom: 20vw;
    right: 10vw;
}
